* {
	font-size: 20px;
	font-family: "Material Design Icons", monospace;
}

window#waybar {
	/* border-radius: 0px 0px 8px 8px; */
	color: #ffffff;
	background: rgba(41, 43, 46, 0.0); /* #292b2e; */
}

#workspaces button,
#windows,
#clock.1,
#clock.2,
#clock.3,
#custom-wellbeing,
#pulseaudio,
#network,
#backlight,
#battery,
#tray {
	margin: 4px;
	padding: 2px 8px;
	border-radius: 8px;
	background: #1a1a1a;
}

#workspaces button {
	color: #ffffff;
	margin-right: 2px;
	background: #1a1a1a;
}

/* Customize tooltip popup (calendar, etc.)
tooltip { background: rgba(26, 26, 26, 0.84); }
*/

/* Customize active workspace
#workspaces button.focused

#workspaces button.active {}

#workspaces button:hover {}
*/
