* {
	font-size: 20px;
	font-family: "Material Design Icons", monospace;
}

window#waybar {
	/* border-radius: 0px 0px 8px 8px; */
	color: #ffffff;
	background: rgba(41, 43, 46, 1.0); /* #292b2e; */
}

#windows,
#clock.1,
#clock.2,
#clock.3,
#custom-wellbeing,
#pulseaudio,
#network,
#backlight,
#backlight-slider,
#battery,
#tray {
	margin: 4px;
	padding: 2px 8px;
	border-radius: 8px;
	background: #1a1a1a;
}

#workspaces button {
	color: #ffffff;
	border-radius: 8px;
	background: #1a1a1a;
	margin: 4px 0px 4px 4px;
}
#workspaces button:last-child { margin-right: 8px; }

#backlight {
	margin-left: 0px;
	padding-left: 0px;
	border-radius: 0px 8px 8px 0px;
}

#backlight-slider {
	margin-right: 0px;
	border-radius: 8px 0px 0px 8px;
}
/* Spawn circular knob when hovering (default style) */
#backlight-slider:not(:hover) slider {
	opacity: 0;
	border: none;
	min-width: 0px;
	min-height: 0px;
	box-shadow: none;
	background-image: none;
}
#backlight-slider trough {
	border: none;
	min-width: 96px;
	min-height: 10px; /* Translates to 12 with border */
	border-radius: 8px;
	background-color: #292b2e;
}
#backlight-slider highlight {
	border: none;
	min-width: 10px; /* Prevents artifacting at values less than 10% */
	min-height: 10px; /* Translates to 12 with border */
	border-radius: 8px;
	background-color: #ffffff;
}

/* Customize tooltip popup (calendar, etc.)
tooltip { background: rgba(26, 26, 26, 0.84); }
*/

/* Customize active workspace
#workspaces button.focused

#workspaces button.active {}

#workspaces button:hover {}
*/
